remote_theme: pages-themes/tactile@v0.2.0
plugins:
  - jekyll-remote-theme # add this line to the plugins list if you already have one
  - jekyll-titles-from-headings
title: EtruscanBoar's Notes
description: Just some documentation so I don't forget

defaults:
  -  
    scope:
      path: "" # an empty string here means all files in the project
      type: "pages"
    values:
      layout: "default"

  - 
    scope:
      path: ""
      type: "posts"
    values:
      tags: "Other"
