---
---

@import "{{ site.theme }}";

hr {
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

header {
  width: 100%
}

.inner {
  width: 800px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px 0;
}

.site_navi {
  width: auto;
  margin: 0 auto;
  display: flex;
}

.left, 
.right {
  display:inline-block  
}

.left {
  flex: 1;
}

h2 {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 24px;
  font-: normal;
  color: #000000;
}
footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}
ol, ul {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 300;
  list-style-position: inside;
  padding-left: 20px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  margin-top: 5px;
}

ol li::marker {
  color: firebrick;
  font-size: 1em;
}

ul > li::marker {
  content: "• ";
  color: gray; 
  font-size: 1em;
}

ol > li::marker {
  font-weight: bold;
}

b, strong {
   color: firebrick;
}
