---
---

@import "{{ site.theme }}";

hr {
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

header {
  width: 100%
}

.inner {
  width: 800px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px 0;
}

.site_navi {
  width: auto;
  margin: 0 auto;
  display: flex;
}

.left, 
.right {
  display:inline-block  
}

.left {
  flex: 1;
}

h2 {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
}
footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

